/* app css stylesheet */

/* general setups */
body {
    background:	#eaeaea;
}
h3 {
  text-align: center;
}


.start-game-container i {
    font-size:70px;
}

.result-bar {
  background: rgba(0,0,0,0.20);
  padding: 10px;
}

.result-bar span {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

.game-card {
  padding: 0;
  width: 200px;
  height: 200px;
  margin: 10px;
  background: #ffffff;
  color: 	#666666;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  transition: all .2s ease-in-out;
}

.choice-card  {
   transition: all .2s ease-in-out;
}

.choice-card :hover {
   -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1);
}

.game-card img {
  width: 100%;
  height:100%;
}

.actions {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.heroes-page {
  min-height: 100vh;
}

.heroes-card {
  padding: 10px;
  border-radius: 100%;
  background: #ffffff;
  width: 200px;
  height: 200px;
}

.heroes-card img {
  width: 60%;
  height: 60%;
}

.player-image {
  width: 50px;
  height: 50px;
}

/* media query */
@media screen and (max-width: 900px) {
    span {
      font-size: 8px;
    }
    .game-card {
      width: 100px;
      height: 100px;
    }

    .start-game-container .game-card {
      width: 170px;
      height: 170px;
    }

    .heroes-card { 
      width: 100px;
      height: 100px;
      padding: 10px;
    }
}