<md-toolbar>
    <md-button ng-href="#/startGame">Back</md-button>
    <div class="score" layout="row" layout-align='center center'><i class="material-icons">star</i><span>{{score.result}}</span></div>
        <div class="current-result">
        <span>win: {{score.win}}</span></br>
        <span>drawn: {{score.drawn}}</span></br>
        <span>lose: {{score.lose}}</span> 
    </div>
</md-toolbar>
<div layout='column' layout-align='center center'>
    <h1>{{message}}</h1>
    <!-- play again button -->
    <!-- my choices-->
    <div layout='column' layout-align='center center' ng-if="choises.length===0">
        <h2>Your choice</h2>
        <div layout='row' layout-align='center center'>
            <div ng-repeat="action in actions" class="choice-card">
                <md-button ng-click='compare(action,actions[randomChoice])' class="game-card">
                    <img ng-src="{{action.icon}}" alt="{{action.name}}">
                    <div>{{action.name}}</div>
                </md-button>
            </div>
        </div>
        <!-- play my choices-->
        <h2>Computer choise</h2>
        <md-button class="game-card">
            <img ng-src={{actions[randomChoice].icon}} alt={{actions[randomChoice].name}}>
            <div>{{actions[randomChoice].name}}</div>
        </md-button>
    </div>
    <!--my choice-->
    <div ng-if="choises.length!==0" layout='row' layout-align='center center'>
        <div>
            <h2>Your choice</h2>
            <md-button class="game-card">
                <img ng-src="{{choises[0].icon}}" alt={{choises[0].name}}>
                <div>{{choises[0].name}}</div>
            </md-button>
        </div>
        <div>
            <h2>Computer choise</h2>
            <md-button ng-if="choises.length!==0" class="game-card">
                <img ng-src={{choises[1].icon}} alt=src={{choises[1].name}}>
                <div>{{choises[1].name}}</div>
            </md-button>
        </div>
    </div>
    <md-button class="md-raised" ng-if="choises.length!==0" ng-click='playAgain()'>Play again</md-button>
</div>