<div layout='column' layout-align = 'center center' class="full-width">
    <h3>Choose game type</h3>
    <div layout='row' layout-wrap layout-align = 'center center'>
        <md-button ng-click='chooseGameType(1)'  layout='row' layout-align='center center' class="game-card">
            <i class="material-icons">person</i>
            vs
            <i class="material-icons">computer</i>
            
        </md-button>
        <md-button ng-click='chooseGameType(2)' layout='row' layout-align='center center' class="game-card">
            <i class="material-icons">computer</i>
            vs<i class="material-icons">computer</i>
        </md-button>
    </div>
</div>
